@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
.App {
  text-align: center;
  background-color: #535353;
  color:#EFECE5;
  font-family: 'Ubuntu Condensed', sans-serif;
  height: 110vh;
  width:100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:rgb(245, 241, 38);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
